@charset "utf-8";

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/FiraCode-VariableFont_wght.woff2) format("woff2"),
    url(/fonts/FiraCode-VariableFont_wght.woff) format("woff"),
    url(/fonts/FiraCode-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  font-display: swap;
  size-adjust: 120%;
  src: url(/fonts/CrimsonPro-Italic-VariableFont_wght.woff2) format("woff2"),
    url(/fonts/CrimsonPro-Italic-VariableFont_wght.woff) format("woff"),
    url(/fonts/CrimsonPro-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-display: swap;
  size-adjust: 120%;
  src: url(/fonts/CrimsonPro-VariableFont_wght.woff2) format("woff2"),
    url(/fonts/CrimsonPro-VariableFont_wght.woff) format("woff"),
    url(/fonts/CrimsonPro-VariableFont_wght.ttf) format("truetype");
}

$primary: #c7254e;
$link: #c7254e;
$code: #c7254e;

$primary-dark: #bf4040;
$link-dark: #bf4040;
$code-dark: #bf4040;

$container-max-width: 1000px;
$family-sans-serif: "Crimson Pro", serif;
$family-monospace: "Fira Code", monospace;
$body-size: 18px;

@import "../bulma/sass/utilities/controls.sass";
@import "../bulma/sass/utilities/extends.sass";
// @import "../bulma/sass/utilities/_all.sass";

@import "../bulma/sass/base/_all.sass";

@import "../bulma/sass/elements/box.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/content.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/image.sass";
@import "../bulma/sass/elements/other.sass";
@import "../bulma/sass/elements/table.sass";
@import "../bulma/sass/elements/tag.sass";
@import "../bulma/sass/elements/title.sass";
// @import "../bulma/sass/elements/_all.sass";

// @import "../bulma/sass/form/_all.sass";

@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/components/breadcrumb.sass";
$menu-label-font-size: $body-font-size;
@import "../bulma/sass/components/menu.sass";
@import "../bulma/sass/components/pagination.sass";
@import "../bulma/sass/components/panel.sass";
// @import "../bulma/sass/components/_all.sass";

@import "../bulma/sass/grid/columns.sass";
// @import "../bulma/sass/grid/_all.sass";

@import "../bulma/sass/helpers/_all.sass";

@import "../bulma/sass/layout/footer.sass";
@import "../bulma/sass/layout/section.sass";
// @import "../bulma/sass/layout/_all.sass";

// @import "../bulma/bulma.sass";

$box-background-color-dark: $black-ter;
$button-background-color-dark: $black-ter;
$table-background-color-dark: #17181c;
@import "../bulma-prefers-dark/bulma-prefers-dark.sass";

$tooltip-radius: $radius-large;
$tooltip-font-size: $size-6;

@import "../bulma-tooltip/src/sass/index.sass";

@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

span {
  &[data-tooltip] {
    border-bottom: 2px dashed $grey-light;
  }
}

// Fix bug with navbar height
html,
body {
  .has-navbar-fixed-top {
    @include from($desktop) {
      padding-top: $navbar-padding-vertical * 2 + $navbar-height;
    }
  }
}

// Fix TOC anchors
:target::before {
  content: "";
  display: block;

  @include from($desktop) {
    height: $navbar-padding-vertical * 2 + $navbar-height + 1rem;
    margin-top: -($navbar-padding-vertical * 2 + $navbar-height + 1rem);
  }

  @include until($desktop) {
    height: $navbar-height + 1rem;
    margin-top: -($navbar-height + 1rem);
  }
}

// Make burger menu work
#menu-check:checked {
  ~ .navbar-brand > .navbar-burger {
    @extend .is-active;
  }

  ~ .navbar-menu {
    @extend .is-active;
  }
}

#menu-check {
  display: none;
}

.spoiler {
  @extend .panel;

  .toggle-spoiler {
    display: none;
  }

  .panel-heading {
    border-radius: $panel-radius;
    font-weight: normal;
    display: block;
    cursor: pointer;
    #arrow {
      display: inline-block;
      transform: rotate(0);
      transition: all 250ms;
      user-select: none;
    }
  }

  .panel-block {
    font-size: $body-font-size;

    @media (prefers-color-scheme: dark) {
      background-color: $black-ter;
    }

    @media (prefers-color-scheme: light) {
      background-color: $content-blockquote-background-color;
    }

    height: 0px;
    overflow-y: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .toggle-spoiler:checked {
    ~ .panel-heading {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      #arrow {
        transform: rotate(90deg) !important;
      }
    }
    ~ .panel-block {
      height: auto;
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }
  }
}

// Set size for navbar images
.navbar-menu {
  img {
    height: $navbar-item-img-max-height;
  }
}

.unbreakable {
  white-space: nowrap;
}

// Properly scale SVGs
figure > svg {
  max-width: 100%;
  height: auto !important;
}

.epigraph {
  @extend .is-italic;

  text-align: right;
  margin-bottom: 1em;
  max-width: 50%;
  margin-left: 50%;
}

.code-with-filename {
  border-radius: 6px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  .filename {
    @extend .is-family-monospace;

    @media (prefers-color-scheme: dark) {
      background-color: $black-ter;
      color: $code-dark;
    }

    @media (prefers-color-scheme: light) {
      background-color: $content-blockquote-background-color;
      color: $code;
    }

    font-size: $small-font-size;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top: none;
    border-left: none;
    padding: 0 1em 0 0.7em;
  }

  pre {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.with-toc {
  display: flex;

  @include until($widescreen) {
    flex-direction: column;

    aside {
      > div {
        width: 100%;
      }
    }
  }

  @include from($widescreen) {
    $min-toc-width: 300px;

    flex-direction: row-reverse;

    aside {
      padding-left: 3rem;
      width: calc(max(#{$min-toc-width}, (100vw - 100%)/2));
      margin-right: calc((100% - 100vw) / 2);
      align-self: flex-start;
      position: sticky;
      top: $navbar-height * 2;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - #{$navbar-height} * 2);
      flex-grow: 0;
      flex-shrink: 0;
    }

    article {
      width: 100%;
      max-width: calc(50vw + 50% - #{$min-toc-width});
    }
  }
}

.content {
  width: 100%;

  p {
    hyphens: auto;
  }

  pre {
    line-height: 1.25;

    code {
      font-family: "Fira Code", monospace;
      font-size: $small-font-size;
    }
  }

  .image {
    img {
      @include from($widescreen) {
        max-height: 540px;
        width: auto;
      }
    }
  }

  @include until($widescreen) {
    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }

  > img,
  p > img {
    @extend .block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;

    @include from($tablet) {
      max-height: 50vh;
    }

    @include until($tablet) {
      max-height: 80vh;
    }
  }

  table {
    @extend .table;
    @extend .is-striped;
    overflow-x: auto;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a.zola-anchor {
      height: 100%;
      vertical-align: middle;
      padding-right: 0.5rem;
      margin-left: -$size-5;
      font-size: $size-5;
      float: left;
      opacity: 0.2;
      transition: opacity 200ms 500ms;
      line-height: 1.8em;
    }

    &:hover {
      a.zola-anchor {
        opacity: 1;
        transition: opacity 300ms;
      }
    }
  }
}

.ul-empty {
  ul {
    list-style: none;
  }
}

.comment {
  margin-top: 0.5rem;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  @include until($desktop) {
    flex-direction: column-reverse;
  }

  @include from($desktop) {
    flex-direction: row;
  }

  @extend .block;
  @extend .is-flex;
  @extend .is-align-content-center;
  @extend .is-align-items-center;

  @media (prefers-color-scheme: dark) {
    background-color: #242424;
  }

  @media (prefers-color-scheme: light) {
    background-color: $content-blockquote-background-color;
  }

  border: 2px dashed $border;
  border-radius: 3px;
  padding: 1rem 2rem;

  span {
    flex-grow: 1;
    text-align: center;

    a {
      width: 100%;
    }
  }

  a {
    @extend .is-pulled-right;
    display: flex;
    flex-shrink: 0;
    @include until($desktop) {
      flex-direction: row;
    }

    @include from($desktop) {
      flex-direction: column;
    }
  }
}

.footnote-definition {
  display: flex;

  .footnote-definition-label {
    margin-right: 1em;
  }
}

#dos-wrapper {
  // display: flex;
  // justify-content: space-around;

  .dos {
    // @extend .image, .is-4by3;
    // width: 100%;
    // height: 500px;
    // padding: 0;
    // margin-top: 1em;
    // margin-bottom: 2em;
    // aspect-ratio: 4/3;

    .emulator-button-touch-zone {
      border-width: 0 !important;
      border: 0 !important;
      box-shadow: none !important;
    }

    .emulator-button {
      border: 0 !important;
    }
    .emulator-keyboard {
      z-index: 1000;
    }
    .emulator-options {
      display: none;
    }
  }
}
