{% extends "base.html" %}

{% block description %}
    <meta name="description" content='List of tags'/>
{% endblock description %}

{% block title %}
    {{ config.title }} - Tags
{% endblock title %}

{% block content %}
    <h1 class="title has-text-centered">List of tags</h1>
    <div class="columns is-multiline is-centered is-vcentered">
        {% for tag in terms %}
            <a class="column unbreakable has-text-centered" href="{{ tag.permalink }}">
                {{ tag.name }}
                <span class="count">({{ tag.pages | length }})</span>
            </a>
        {% endfor %}
    </div>
    <div class="taxonomies__title">
        {{ terms | length }} tag{{ terms | length | pluralize }} in total
    </div>
{% endblock content %}
