{% extends "base.html" %}

{% block description %}
    <meta name="description" content='Posts with #{{ term.name }} tag'/>
{% endblock description %}

{% block title %}
    {{ config.title }} - #{{ term.name }}
{% endblock title %}

{% block content %}
    <h1 class="title has-text-centered">
        Posts with
        <code>#{{ term.name }}</code>
        tag
        <a href="{{ term.path ~ 'atom.xml' }}">
            <figure alt="Tag RSS" class="image" style="height: 1.75rem; margin-left: 1rem; vertical-align: middle; display: inline-flex;">
                {{ rss_icon | safe }}
            </figure>
            {# <img alt="Tag RSS" src="/rss.svg" style="height: 1.75rem; margin-left: 1rem; vertical-align: middle;"/> #}
        </a>
    </h1>
    {% for page in term.pages %}
        {{ macros::page_preview(page=page) }}
        {% if not loop.last %}
            <hr class="hr"/>
        {% endif %}
    {% endfor %}
{% endblock content %}
