<script src="/vendor/emulators/emulators.js"></script>
<script src="/vendor/emulators-ui/emulators-ui.js"></script>
<link rel="stylesheet" href="/vendor/emulators-ui/emulators-ui.css">
<div class="center">
	<button class="button" onclick="fullscreen()">На весь экран</button>
	<button id="toggleMobile" class="button" onclick="toggleMobile()"></button>
	<button id="togglePause" class="button" onclick="togglePause()" style="visibility: hidden;">Пауза</button>
	<div id="dos-wrapper">
		<div class="dos" id="jsdos"></div>
	</div>
</div>
<script>
	const dosRoot = document.getElementById("jsdos");
	const elToggleMobile = document.getElementById("toggleMobile");
	const elTogglePause = document.getElementById("togglePause");
	const gameUrl = "https://zrjkpa7j8ej4.objectstorage.eu-zurich-1.oci.customer-oci.com/p/lgzX5wnkGdzvNGi-CMAx6zLuOYVolgbvzM66-_NfMsogu3zSgLHJiBy-z9tUjmMp/n/zrjkpa7j8ej4/b/dos/o/{{ name | safe }}.jsdos";
	let mobileControls = "ontouchstart" in window;
	emulators.pathPrefix = "/vendor/emulators/";

	let options = {
		aspect: 4./3.,
		clickToStart: true,
	};
	let dos = Dos(dosRoot, null, options);
	dos.emulatorsUi.dom.lifecycle = () => {};
	dos.mobileControls = mobileControls;
	{# dos.clickToStart = true; #}
	{# dos.aspect = 4./3.; #}
	dos.emulatorsUi.controls.options = null;
	if (window.devicePixelRatio > 2 ) {
		dos.scaleControls = window.devicePixelRatio/2 ;
	} else {
		dos.scaleControls = 1;
	}
	{# dos.autolock = true; #}
	{# dos.sensitivityValue = 1.0/window.devicePixelRatio; #}

	let isRunning = false;
	toggleMobile();
	toggleMobile();

	let ci;
	createDos();
	

	function createDos() {
		(async () => {
			ci = await dos.run(gameUrl);
			await ci.pause();
			//document.removeEventListener("visibilitychange");
			//document.removeEventListener("mozvisibilitychange");
			//document.removeEventListener("msvisibilitychange");
			//document.removeEventListener("webkitvisibilitychange");
			const clickToStart = document.getElementsByClassName("emulator-click-to-start-overlay")[0];
			const oldOnClick = clickToStart.onclick;
			clickToStart.onclick = () => {
				elTogglePause.style.visibility = "visible";
				isRunning = true;
				oldOnClick();
				ci.resume();
			};
		})();
	}
	
	function fullscreen() {
		let elem = document.getElementById("dos-wrapper")
		if (elem.requestFullscreen) {
			elem.requestFullscreen();
		} else if (elem.webkitRequestFullscreen) { /* Safari */
			elem.webkitRequestFullscreen();
		} else if (elem.msRequestFullscreen) { /* IE11 */
			elem.msRequestFullscreen();
		}
		if (screen.orientation && screen.orientation.lock) {
			screen.orientation.lock('landscape');
		  }
		//ci = ci.run();
	}
	function toggleMobile() {
		if (dos.mobileControls) {
			dos.disableMobileControls();
			elToggleMobile.textContent = "Показать тач-кнопки";
		} else {
			dos.enableMobileControls();
			elToggleMobile.textContent = "Скрыть тач-кнопки";
		}
	}
	function togglePause() {
		if (isRunning) {
			ci.pause();
			elTogglePause.textContent = "Возобновить";
		} else {
			ci.resume();
			elTogglePause.textContent = "Пауза";
		}
		isRunning = !isRunning;
	}
</script>
