<figure class="block has-ratio is-16by9">
    <iframe
        allowfullscreen
        mozallowfullscreen
        webkitallowfullscreen
        frameborder="0"
        height="640"
        width="100%"
        src="https://www.google.com/maps/d/embed?mid={{ id }}"
        ></iframe>
    {% if comment %}
    <figcaption class="comment">
        <em>{{ comment | markdown | safe }}</em>
    </figcaption>
    {% endif %}
</figure>

