{% set n = '
' %}

<figure class="image">
	{% if alt is undefined %}
		{% if comment %}
			{% set alt = comment %}
		{% elif body %}
			{% set alt = body | striptags | trim | replace(from=n, to=" ") %}
		{% endif %}
	{% endif %}
	
	{% set click = click | default(value=true) %}

	{% for i in src | split(pat=",") %}
		{% set i = i | trim %}
		{% if i | length == 0 %}
			{% continue %}
		{% endif %}

		{% if i is starting_with("http://") or i is starting_with("https://") %}
			{% set url = i %}
		{% else %}
			{% set item = page | default(value=section) %}
			{% if i is ending_with(".svg") or i is ending_with(".gif") %}
				{% set url = item.path ~ i %}
			{% else %}
				{% set basedir = item.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") %}
				{% set path = basedir ~ '/' ~ i %}
				{% set image = resize_image(path=path, width=width | default(value=1600), height=height | default(value=800), op="fit", quality=90) %}
				{% set meta = get_image_metadata(path=path) %}
				{% set url = image.url %}
				{% set source_url = item.permalink ~ '/' ~ i %}
			{% endif %}
		{% endif %}

		{% if alt is undefined %}
			{% set alt = i | split(pat="/") | last | split (pat=".") | slice(end=-1) | join(sep=".") | title %}
		{% endif %}
	
		{% if click %}
			<a href="{{ source_url | default(value=url) | safe }}" target="_blank">
		{% endif %}

		<img alt="{{ alt }}" src="{{ url }}"/>
		
		{% if click %}
			</a>
		{% endif %}
	{% endfor %}
	{% if comment %}
	<figcaption class="comment">
		<em>{{ comment | markdown | safe }}</em>
	</figcaption>
	{% elif body %}
	<figcaption class="comment">
		<em>{{ body | markdown | safe }}</em>
	</figcaption>
	{% endif %}
</figure>
