<figure class="block has-ratio is-16by9">
    <iframe
        allowfullscreen
        mozallowfullscreen
        webkitallowfullscreen
        width="100%"
        height="640"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        style="border: 1px solid black"
        src="{{ url }}"
        ></iframe>
    {% if comment %}
    <figcaption class="comment">
        <em>{{ comment | markdown | safe }}</em>
    </figcaption>
    {% endif %}
</figure>
