{% set postdata = load_data(
	url="https://kroki.io/plantuml/svg",
	format="plain", method="POST",
	content_type="text/plain",
	body=body,
	required=true,
	)
%}
<figure class="image">
	{{ postdata | safe }}

	{% if comment %}
	<figcaption class="comment">
		<em>{{ comment | markdown | safe }}</em>
	</figcaption>
	{% endif %}
	{#
	<!-- Uncomment when merged: https://github.com/getzola/zola/pull/1622 -->
	<figcaption class="comment">
		<em>Open as <a href="https://kroki.io/plantuml/png/{{body | deflate_compress}}">image</a></em>
	</figcaption>
	#}
</figure>
