<div class="spoiler">
	<input class="toggle-spoiler" aria-expanded="false" aria-hidden="true" id="toggle-spoiler-{{ nth }}" type="checkbox"/>
	<label class="panel-heading" for="toggle-spoiler-{{ nth }}">
		<span id="arrow">&nbsp;&nbsp;〉</span>
		{{ title }}
	</label>
	<div class="panel-block">
		<div class="content">
			{{ body | markdown | safe }}
		</div>
	</div>
</div>
