<div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center ">
    <video class="block is-16by9" controls {% if autoplay %} autoplay {% endif %} {% if loop %} loop {% endif %}>
        {% for i in src | split(pat=",") %}
            <source {% if comment %} alt="{{ comment ~ i | trim }}" {% endif %} src="{{ i | trim }}"/>
        {% endfor %}
        Your browser does not support the video tag.
    </video>
    {% if body %}
        <p class="comment">
            <em>{{ body | markdown | safe }}</em>
        </p>
    {% endif %}
</div>
