<figure>
    <div class="image is-16by9">
    <iframe
        class="has-ratio"
        frameborder="0"
        allowfullscreen width="100%"
        src="https://www.youtube-nocookie.com/embed/{{ id }}{% if autoplay %}?autoplay=1{% endif %}"
        ></iframe>
    </div>
    {% if comment %}
    <figcaption class="comment">
        <em>{{ comment | markdown | safe }}</em>
    </figcaption>
    {% endif %}
</figure>
