{% extends "base.html" %}

{% block description %}
    <meta name="description" content='Page not found!'/>
{% endblock description %}

{% block title %}
    {{ config.title }} - 404
{% endblock title %}

{% block content %}
    <h1 class="title has-text-centered">
        404 Page Does Not Exist 😱
    </h1>
    <p class="has-text-centered">
        Nothing to see here, sorry.
    </p>
    <br/>
    <p class="has-text-centered">
        If you've naviated to this page using a URL on this website, please
        <a href=/about/#how-to-contact-me">tell me</a>
        about this!
    </p>
    <p class="has-text-centered">
        This is a bug and I'll need to fix it.
    </p>
    <br/>
    <p class="has-text-centered">
        Meanwhile, you can use the navigation bar to get to the
        <a href="/">home page</a>
    </p>
    <div style="text-align: center;">
        <img alt="404 Image of a Drunken Rabbin in a Box" src="/404.png"/>
    </div>
{% endblock content %}
