{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name=generator content="Zola"/>
    <meta name="fediverse:creator" content="@bemyak@lor.sh" />
    {%- if current_url %}
      <link rel="canonical" href="{{ current_url | safe }}"/>
    {%- endif %}
    {% block description %}
      <meta name="description" content='{{ config.description }}'/>
    {% endblock description %}
      <title>
      {% block title %}
        {{ config.title }}
      {% endblock title %}
    </title>
    {% if config.generate_feed %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml', lang=lang) | safe }}"/>
    {% endif %}
    {% block js %}
      {% if config.extra.katex_enable %}
        <link
          crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
          integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
          rel="stylesheet"/>
        <script
          crossorigin="anonymous"
          defer
          integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
          src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"></script>
        <script
          crossorigin="anonymous"
          defer
          integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy"
          src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js"></script>
        {% if config.extra.katex_auto_render %}
          <script
            crossorigin="anonymous"
            defer
            integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe"
            onload="renderMathInElement(document.body);"
            src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js"></script>
        {% endif %}
      {% endif %}
    {% endblock js %}
    {% block css %}
      <link href="{{ get_url(path='site.css', trailing_slash=false) }}" rel="stylesheet"/>
      {% if config.extra.katex_enable %}
        <link
          crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
          integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
          rel="stylesheet"/>
      {% endif %}
    {% endblock css %}
  </head>
  <body class="has-navbar-fixed-top">
    <nav aria-label="main navigation" class="navbar is-fixed-top is-spaced has-shadow" role="navigation">
      <div class="container">
        <input aria-expanded="false" aria-hidden="true" id="menu-check" type="checkbox"/>
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ get_url(path='/', lang=lang) }}">
            <span class="title">
              bemyak
            </span>
          </a>
          <label aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navMenu" for="menu-check" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </label>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <div class="navbar-item">
              {% if section %}
                {{ macros::bread(section=section, trailing_slash=true) }}
              {% elif page %}
                {{ macros::bread(section=page, trailing_slash=false) }}
              {% endif %}
            </div>
          </div>
          <div class="navbar-end">
          <a class="navbar-item" href="{{ get_url(path='atom.xml', lang=lang) | safe }}">
            {% set rss_icon = load_data(path="static/rss.svg", format="plain") %}
             <figure class="image" style="display: inline-flex;">
              {{ rss_icon | safe }}
             </figure>
          </a>
          {% if page %}
            {% set page_translations = page.translations | group_by(attribute="lang") %}
          {% endif %}
          {% for code, translation in config.languages %}
            {% set url = get_url(path='/', lang=code) %}
            {% if page and page_translations is containing(code)%}
              {% set url = page_translations[code][0].permalink %}
            {% endif %}
            <a class="navbar-item" href="{{ url | safe }}">
              {{ code | upper }}
            </a>
          {% endfor %}
          {% for item in config.extra.menu %}
            <a class="navbar-item" href="{{ get_url(path=item.url, lang=lang, trailing_slash=true) | safe }}">
              {{ item.name }}
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        {% block content %}
          <!-- THE CONTENT GOES HERE -->
        {% endblock content %}
      </div>
    </section>
  </body>
</html>
