{% extends "base.html" %}
{% block description %}
	<link rel="me" href="https://lor.sh/@bemyak">
	<meta name="yandex-verification" content="68bba18498752ba9"/>
	<meta name="description" content='{{ config.description }}'/>
{% endblock description %}
{% block content %}
	<header class="block">
		<h1 class="title has-text-centered">
			{{ section.title }}
		</h1>
	</header>
	<div class="content">
		{{ section.content | safe }}
	</div>
	{{ macros::sections_preview(sections=section.subsections, show_hidden=current_path is containing("hidden")) }}

	{% if paginator.pages %}
		{% for page in paginator.pages %}
			<div class="mb-5 p-5 box">
				{{ macros::page_preview(page=page) }}
			</div>
		{% endfor %}
	{% else %}
		{% for page in section.pages %}
			<div class="mb-5 p-5 box">
				{{ macros::page_preview(page=page) }}
			</div>
		{% endfor %}
	{% endif %}

	<nav aria-label="pagination" class="block pagination is-centered">
		{% if paginator.previous %}
			<a aria-label="Goto newer posts" class="pagination-previous button" href="{{ paginator.previous }}">‹ Newer</a>
		{% endif %}
		{% if paginator.number_pagers and paginator.number_pagers > 1 %}
			<ul class="pagination-list">
				{% for i in range(start=1, end=paginator.number_pagers+1) %}
					{% if i == 1 %}
						{% set url = paginator.first %}
					{% else %}
						{% set url = paginator.base_url ~ i %}
					{% endif %}
					<li>
						<a aria-label="Goto page {{ i }}" class="pagination-link button {% if i == paginator.current_index %} is-current {% endif %}" href="{{ url }}">{{ i }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if paginator.next %}
			<a aria-label="Goto older posts" class="pagination-next button" href="{{ paginator.next }}">Older ›</a>
		{% endif %}
	</nav>
{% endblock content %}
