{% macro page_preview(page) %}
    <article>
        {{ macros::title(page=page, is_title=false) }}
        <div class="content">
            {{ page.summary | safe }}
            <a href="{{ page.permalink }}">Read more...</a>
        </div>
    </article>
{% endmacro page_preview %}
{% macro title(page, is_title) %}
    <header class="block">
        {% if is_title %}
            <h1 class="title has-text-centered">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </h1>
        {% else %}
            <h2 class="title">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </h2>
        {% endif %}
        <div class="columns is-multiline is-vcentered {% if is_title %}is-centered{% endif %}">
            <div class="column is-narrow">
                <div class="columns is-narrow is-multiline is-mobile is-vcentered {% if is_title %}is-centered{% endif %}">
                    <span class="column is-narrow is-size-6 unbreakable">📅 {{ page.date | date(format="%F") }}</span>
                    {% if page.updated %}
                    <span class="column is-narrow is-size-6 unbreakable">🔃 {{ page.updated | date(format="%F") }}</span>
                    {% endif %}
                    <span class="column is-narrow is-size-6 unbreakable">⏳ {{ page.reading_time }} min read</span>
                </div>
            </div>
            {% if page.taxonomies.tags %}
                <div class="column is-narrow">
                    <div class="tags" {% if is_title %} style="justify-content: center;" {% endif %}>
                        {% for tag in page.taxonomies.tags %}
                            <a class="tag" href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) }}">
                                #{{ tag }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
{% macro sections_preview(sections, show_hidden=false) %}
    <div class="columns my-3">
        {% for current in sections | sort %}
            {% set current = get_section(path=current) %}
            {% if current.path is containing("hidden") and not show_hidden %}
                {% continue %}
            {% endif %}
            {% if not current.title %}
                {% continue %}
            {% endif %}
            <div class="column">
                <nav aria-label="panel for section {{ current.title }}" class="panel">
                    <p class="panel-heading has-text-centered">
                        <a href="{{ current.permalink }}">
                            📂 {{ current.title }}
                        </a>
                    </p>
                    {% for subsection in current.subsections %}
                        {% set subsection = get_section(path=subsection) %}
                        <div class="panel-block">
                            <a href="{{ subsection.permalink }}">
                                📁 {{ subsection.title }}
                            </a>
                        </div>
                    {% endfor %}
                    {% for page in current.pages | slice(end=3) %}
                        <div class="panel-block">
                            <a href="{{ page.permalink }}">
                                {{ page.title }}
                            </a>
                        </div>
                    {% endfor %}
                    <div class="panel-block is-flex is-justify-content-center">
                        <a href="{{ current.permalink }}">
                            View all ({{ current.pages | length }})
                        </a>
                    </div>
                </nav>
            </div>
        {% endfor %}
    </div>
{% endmacro sections_preview %}
{% macro bread(section, trailing_slash) %}
    <nav aria-label="breadcrumbs" class="breadcrumb is-large">
        <ul>
            {% if section %}
                {% for current in section.ancestors %}
                    {% set current = get_section(path=current) %}
                    <li>
                        <a href="{{ current.permalink }}">
                            {% if loop.first %}
                                ~
                            {% else %}
                                {{ current.components | last }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="is-active">
                    <a href="{{ section.permalink }}">
                        {% if section.ancestors | length == 0 %}
                            ~
                        {% else %}
                            {{ section.components | last }}
                        {% endif %}
                    </a>
                </li>
                {% if trailing_slash %}
                    <li></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endmacro bread %}
{% macro toc(toc, first=true) %}
    <ul {% if first %} class="menu-list" {% endif %}>
        {% if first %}
            <li>
                <a href="#">Intro</a>
            </li>
        {% endif %}
        {% for h1 in toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    {{ macros::toc(toc=h1.children, first=false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro toc %}
