{% extends "base.html" %}

{% block description %}
    {% if page.summary %}
{% set n = '
' %}
        <meta name="description" content='{{ page.summary | striptags | trim | replace(from=n, to=" ") }}'/>
    {% else %}
        <meta name="description" content='Post {{ page.title | striptags | trim }}'/>
    {% endif %}
{% endblock description %}

{% block title %}
    {{ config.title }} - {{ page.title }}
{% endblock title %}

{% block content %}
    <div class="with-toc">
        {% if page.toc %}
            <aside class="menu block is-flex">
                <div>
                    <p class="menu-label">
                        Contents
                    </p>
                    {{ macros::toc(toc=page.toc) }} <hr class="hr"/>
                </div>
            </aside>
        {% endif %}
        <article>
            <div class="content">
                {{ macros::title(page=page, is_title=true) }}
                {{ page.content | safe }}
            </div>
            {% block footer %}
                {% set cc_icon = load_data(path="static/cc.svg", format="plain") %}
                {% set by_icon = load_data(path="static/by.svg", format="plain") %}
                {% set nc_icon = load_data(path="static/nc.svg", format="plain") %}
                {% set nd_icon = load_data(path="static/nd.svg", format="plain") %}
                <footer>
                    {% if lang == "en" %}
                        <span>
                            This work is licensed under a <br/>
                            <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">
                                Creative Commons Attribution 4.0 International License
                            </a>
                        </span>
                        <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">
                            <div class="row">
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ cc_icon | safe }}
                                </figure>
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ by_icon | safe }}
                                </figure>
                            </div>
                        </a>
                    {% elif lang == "ru" %}
                        <span>
                            This work is licensed under a <br/>
                            <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license">
                                Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
                            </a>
                        </span>
                        <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license">
                            <div class="row">
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ cc_icon | safe }}
                                </figure>
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ by_icon | safe }}
                                </figure>
                            </div>
                            <div class="row">
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ nc_icon | safe }}
                                </figure>
                                <figure style="height: 31px; width: 31px; display: inline-block;">
                                    {{ nd_icon | safe }}
                                </figure>
                            </div>
                        </a>
                    {% endif %}
                </footer>
            {% endblock footer %}
            <div>
                {% block bottom_nav %}
                    {% if page.taxonomies.tags %}
                        <div class="block">
                            {% for tag in page.taxonomies.tags %}
                                <a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) }}">
                                    <span class="tag is-medium is-primary">
                                        #{{ tag }}
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if page.earlier %}
                        {% set prev=page.earlier %}
                    {% elif page.lighter %}
                        {% set prev=page.lighter %}
                    {% endif %}
                    {% if page.later %}
                        {% set next=page.later %}
                    {% elif page.heavier %}
                        {% set prev=page.heavier %}
                    {% endif %}
                    {% if prev or next %}
                        <nav aria-label="pagination" class="block pagination is-centered" role="navigation">
                            {% if prev %}
                                <a aria-label="Goto the previous post named {{ prev.title }}" class="pagination-previous" href="{{ prev.permalink }}">‹ {{ prev.title }}</a>
                            {% else %}
                                <a aria-label="No previous post" class="pagination-previous" style="visibility: hidden;"></a>
                            {% endif %}
                            {% if next %}
                                <a aria-label="Goto the next post named {{ next.title }}" class="pagination-next" href="{{ next.permalink }}">{{ next.title }} ›</a>
                            {% else %}
                                <a aria-label="No next post" class="pagination-previous" style="visibility: hidden;"></a>
                            {% endif %}
                        </nav>
                    {% endif %}
                {% endblock bottom_nav %}
            </div>
            {% block after_bottom_nav %}{% endblock after_bottom_nav %}
        </article>
    </div>
{% endblock content %}
